html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#map {
    height: 100vh;
    width: 100%;
}

.zone-label {
    color: white;
    font-weight: bold;
    text-shadow: 0 0 5px black;
}

.leaflet-div-icon {
    background: transparent !important;
    border: none !important;
}

.grid-label div {
    color: white !important;
    font-weight: bold !important;
    font-size: 28px !important;
    text-shadow:
        0 0 4px black,
        0 0 8px black,
        0 0 12px black;
}